.navBar {
	position: fixed;
	width: 100vw;
	height: 75px;
	padding: 0 4rem;
	background-color: rgb(13, 13, 92);
	color: yellowgreen;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
	box-shadow: 0px 3px 20px rgb(10, 34, 100);
}

.navLogo {
	font-size: 1.75rem;
}
